/* Login.css */
.login-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

.log-btn {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
}

.log-btn:hover {
  background-color: #0056b3;
}


.toggle-sidebar-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    /* background-color: orangered; */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .toggle-sidebar-btn:hover {
    background-color: #ff4500;
  }
